* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #100028;
  background-image: url('https://www.transparenttextures.com/patterns/black-paper.png');
}

.form-signin {
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
  text-align: center;
  border: 2px solid #100028;
  width: 100%;
  max-width: 330px;
  position: relative;
}

.form-control {
  background-color: #100028;
  color: #100028;
  border: none;
}

.form-control::placeholder {
  color: #ccc;
}

.btn {
  background-color: #100028;
  color: white;
}

.btn:hover {
  background-color: #654596;
}

label {
  color: white;
}

h2 {
  color: #100028;
}

.form-check-label {
  color: #100028;
}

.form-check-input {
  background-color: #100028;
}

.emoji {
  font-size: 60px;
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
}